@mixin poppins($weight: 400, $size: 16px, $height: 20px, $color: $black) {
	font-weight: $weight;
	font-size: $size;
	line-height: $height;
	color: $color;
}
@mixin opensans($weight: 400, $size: 16px, $height: 20px, $color: $black) {
	font-family: 'Open Sans';
	font-weight: $weight;
	font-size: $size;
	line-height: $height;
	color: $color;
}