@mixin button {
  padding: 14px 39px;
  color: $fff;
  background-color: $yellow;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  font-family: $mono;
  transition: all 0.1s ease;

  &:hover {
     background-color: white;
     color: $yellow;
     box-shadow: inset 0 0 0 3px $yellow;
  }

  &:active {
     background-color: $lightyellow;
  }
}
