
$grey: #f9f9f9;
$light-grey: #d1d1d1;
$white: #ffffff;
$orange: #e6704b;
$placeholder-color: #a9a9a9;
$btn-grey: #f5f5f5;
$poppin: 'Poppins';
$open:'Open Sans';
$green:#6A983C;
$black:#151515;
$gray:#F5F5F5;

