.cerrots{
  display: flex;
  min-width: 1260px;
  height: 436px;
  &__left{
    width: 50%;
    background-image: url("./../../images/bghero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    &--items{
      position: absolute;
      right: 65%;
      top: 5%;
      &__span{
        padding: 4px 10px;  
        color: $green;
        &__span:nth-child(2){
          margin-right: 0;
        }
      }
    }
  }
  &__right{
    width: 50%;
    
    .rating{  
      display: flex;
      flex-direction: column;
      margin: 0 0 1em 0;
      padding: 0;
      border: none;
      &__span{
       opacity: 0.5;
       
      }
      &__caption{
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        margin-bottom: 0.5em;
        padding: 0;
      }
      &__star:focus{
        outline: none;

      }
      &__star:checked,
      :hover{
        background-image: url("./../../images/staron.jpg"); 
      }
      &__star:hover ~ .rating__star{
        background-image: url("./../../images/star.jpg");
      }
      &__star{
        position: absolute;
        top: 0;
        left: 0;
        height: 2em;
        font-size: inherit;
       background-image: url("./../../images/star.jpg");
       background-size: 2em auto;
       background-repeat: repeat-x;
      
        -webkit-appearance: 0;
        appearance: none;
        -moz-appearance: none;
      }
        &__star:nth-of-type(1){
          width: 2em;
          z-index: 5;
        }
        &__star:nth-of-type(2){
          width: 4em;
          z-index: 4;
        }
        &__star:nth-of-type(3){
          width: 6em;
          z-index: 3;
        }
        &__star:nth-of-type(4){
          width: 8em;
          z-index: 2;
        }
        &__star:nth-of-type(5){
          width: 10em;
          z-index: 1;
        }
      
      &__group{
        width: 10em;
        height: 2em;
        position: relative;
      }
      &__group:focus-within{
        outline: solid 0.2em blue;
        outline-offset: 0.2em;
      }
    }
  }
  &__text{
    max-width: 569px;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: $black;
  }
}
.table{
  margin-top: 40px;
  &__tr{
    margin-right: 12px;
    
    &--td{
      padding-top: 6px;
      padding-right: 31px;
    }
    &--td:nth-child(1){
      padding-top: 0;
      
    }
  }
  &__body{
    gap: 12px;
  }
}
.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 534px;
  height: 89px;
  padding: 16px;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
  &__wrapper{
    display: flex;
   flex-direction: column;
    &--price{
    color: green;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    }
  }
  &__del{
    color: #A9A9A9;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }
 &__input{
  max-width: 111px;
  height: 42px;
  padding: 12px 16px;
  border: none;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
 }
 &__button{
  background-color: green;
  color: #ffffff;
  font-weight: 700;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
 }
}