.header__nav {
	background-color: $grey;

	max-width: 1260px;
	height: 55px;
}
.nav__list {
	display: flex;
	align-items: center;
	justify-content: flex-start;

}
.nav__item {
	& + & {
		margin-left: 40px;
	}
}
.nav__link {
	@include poppins(500, 15px, 22px);
	color: $black;
	display: flex;
	align-items: center;
	&::after {
		content: '';
		display: block;
		width: 12px;
		height: 12px;
		margin-left: 2px;
		background-image: url(./../images/chevron-down.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}
}